<template>
  <div class="c-todo-list">
    <ol v-if="items && items.length > 0">
      <slot />
    </ol>
    <p v-else>
      No tasks
    </p>
  </div>
</template>

<script>
export default {
  name: 'TodoList',
  props: {
    items: {
      type: Array,
      required: false,
      default: () => []
    }
  },
  watch: {
    items: {
      handler(newValue) {
        this.$emit('change', newValue)
      },
      deep: true
    }
  }
}
</script>
