<template>
  <div class="todo-add-form">
    <form @submit.prevent="handleSubmit">
      <el-row :gutter="20"
              type="flex"
              justify="center">
        <el-col>
          <el-input v-model="todoName"
                    placeholder="Todo..."
                    required />
        </el-col>
        <el-col :span="2">
          <el-button class="submit-button"
                     native-type="submit"
                     type="primary">
            Add
          </el-button>
        </el-col>
      </el-row>
    </form>
  </div>
</template>

<script>
export default {
  name: 'TodoAddForm',
  data() {
    return {
      todoName: ''
    }
  },
  methods: {
    handleSubmit() {
      const todo = {id: Math.random(), name: this.todoName, done: false}
      this.$emit('submit', todo)
      this.resetInputValue();
    },
    resetInputValue() {
      this.todoName = ''
    }
  }
}
</script>
