<template>
  <div id="app">
    <el-container>
      <el-main>
        <h1>Todo App</h1>
        <div>
          <el-row type="flex"
                  justify="center">
            <el-col :span="8">
              <todo-add-form @submit="handleTodoFormSubmit" />
              <todo-list :items="todoList"
                         @change="handleTodoListChange">
                <li v-for="(todo, index) in todoList"
                    :key="todo.id + index">
                  <todo-item :done="todo.done"
                             :todo="todo"
                             class="mb-20"
                             @toggle-done="toggleDoneTodo(todo)"
                             @remove-clicked="removeTodo(todo)" />
                </li>
              </todo-list>
              <el-button v-if="todoList && todoList.length > 0"
                         @click="clearTodoList">
                clear
              </el-button>
            </el-col>
          </el-row>
        </div>
      </el-main>
    </el-container>
  </div>
</template>

<script>
import TodoAddForm from "@/components/TodoAddForm/TodoAddForm";
import TodoList from "@/components/TodoList/TodoList";
import TodoItem from "@/components/TodoItem/TodoItem";
import { mapState, mapActions, mapMutations } from 'vuex'

export default {
  name: 'App',
  components: {TodoAddForm, TodoList, TodoItem},
  computed: {
    ...mapState({
      todoList: state => state.todo.list
    })
  },
  watch: {
    todoList: {
      handler(newValue) {
        this.handleLocalStorageSet(newValue)
      },
      deep: true
    }
  },
  mounted() {
    this.initTodoList()
  },
  methods: {
    ...mapMutations('todo', {setTodoList: 'SET_TODO_LIST'}),
    ...mapActions('todo', ['addTodo', 'removeTodo', 'clearTodoList']),
    initTodoList() {
      const todoList = this.$todoLocalStorage.getAll()
      this.setTodoList(todoList)
    },
    handleLocalStorageSet(value) {
      this.$todoLocalStorage.set(value)
    },
    handleTodoListChange(newList) {
      this.setTodoList(newList)
    },
    handleTodoFormSubmit(todo) {
      const newTodoList = [...this.todoList, todo]
      this.setTodoList(newTodoList)
    },
    toggleDoneTodo(todo) {
      const todoList = this.todoList.slice(),
          todoIndex = this.todoList.findIndex(item => item === todo);
      todoList[todoIndex].done = !todo.done
      this.setTodoList(todoList)
    },
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
